 body{
    height: 100%;
    width: 100%;

 }  
 .logindiv h1{
    text-align: center ;

 }
 
 .login-img{
    background-image: url('/image/pexels-veeterzy-303383.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: white;
            

 }
   
.home-img{

   height: 100vh;
   text-align: center; 
   align-items: center; 
   justify-content: center;

    
}        
.home-img .navbar{
    background-color: rgb(182, 170, 170);
} 
            

